*
!/**/
!*.*
test/*
!/test/*.gg
.vscode
idea/*
build/*
!libs/Makefile

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

checks.json

#CMake
/CMakeFiles
CMakeCache.txt
compile_commands.json
cmake_install.cmake

#auto generated version file
version.hpp